*{
     padding: 0;
     margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
#header{
    background: rgb(74, 74, 184);
    position: fixed;
    margin-top: -120px;
    width: 1980px;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
     padding: 40px;
}
.top_rated img{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.popular img{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
body{
background: rgb(173,168,250);
background: linear-gradient(90deg, rgba(173,168,250,1) 0%, rgba(244,129,227,1) 18%, rgba(103,238,240,1) 35%, rgba(241,123,146,1) 51%, rgba(146,247,159,1) 70%, rgba(149,184,235,1) 82%, rgba(148,108,242,1) 100%);
}
.top_rated{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.popular{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



